{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>{{apt.title}}</h1></div>
<h3>Address: {{apt.address}}</h3>
<p></p>
<h3>Price: $ {{apt.price}} / month</h3>
<h3>Bedrooms: {{apt.bedrooms}}</h3>
<h3>Bathrooms: {{apt.bathrooms}}</h3>
<h3>Broker: {{apt.broker_name}}
    <button><a href="/inquire/{{apt.apartment_id}}" style="text-decoration: none;color: black">Inquire</a></button>
    <button><a href="/lease/{{apt.apartment_id}}" style="text-decoration: none;color: black">Sign Lease</a></button>
</h3>
<hr>
<h3>Description</h3>
<h5>{{apt.description}}</h5>
<hr>
<h3>Comments &nbsp;
    <button><a href="/comment/{{apt.apartment_id}}" style="text-decoration: none;color: black">Post Comment</a></button>
</h3>
{% for comment in comments %}
<p>{{comment.username}} ({{comment.time}}) : {{comment.content}}</p>
{% endfor %}
{% endblock %}